@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}

:root{
    
--primary-color: hsl(210, 20%, 20%);
--background-color: hsl(169, 55%, 86%);
--navsearch-color: hsl(210, 20%, 14%);
--shadow-color: hsl(32, 100%, 50%); 
/* opacity: 46%; */
}

/* Navbar styles */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 8px 64px;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    flex: 0.2;
    justify-content: center;
}
.navbar-left .logo {
    display: flex;
    align-items: center;
}

#logo-img {
    position: relative;
    width: 35px;
    height: 35px;
    top: 15%;
}

.navbar-left span {
    font-size: 20pt;
    font-weight: bold;
}

.navbar-center {
    display: flex;
    flex: 0.7;
    justify-content: center;
    gap: 16px;
}


#user-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #AAA;
    border-radius: 0.5rem;
    text-indent: 2rem;
    font-size: 14pt;
    color: black;
}

.navbar-right {
    display: flex;
    flex: 0.1;
}

.filter-btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14pt;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #0056b3;
}

.profile-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: #000;
    cursor: pointer;
}


.ship-content{
    display: flex;
    width: 100vw;
    height: 80vh;
background-color: lightgray;
justify-content: space-around;

}

.result-container{
    display: flex;
margin-top: 5vh;
margin-left: 3vw;
background-color: rgb(236, 236, 236);
width: 20vw;
height: 72vh;
-webkit-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.24);
-moz-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.24);
box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.24);
border-radius: 1%;
}

.dashboard-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(236, 236, 236);
    margin-top: 5vh;
    margin-right: 3vw;
    width: 70vw;
    height: 72vh;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.24);
    -moz-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.24);
    box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.24);
    border-radius: 1%;
}

.vessel-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    height: 7vh;
    border-radius: 4%;
    background-color: rgb(211, 213, 218);
    -webkit-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.28);
    box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.28);
}

.map-container{
    background-color: rgb(189, 198, 208);
border-radius: 1%;
    width: 64vw;
    height: 40vh;
    -webkit-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.28);
    box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.28);
}

.footer-container{
    display: flex;
    align-items: baseline;
    background-color: var(--primary-color);
    width: 100vw;
    height: 10vh;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(15, 91, 172, 0.69);
    -moz-box-shadow: 0px -3px 5px 0px rgba(15, 91, 172, 0.69);
    box-shadow: 0px -3px 5px 0px rgba(15, 91, 172, 0.69);
}

.written-details{
    width: 94%;
    display: flex;
    justify-content: space-around;
}

.details-header{
    font-weight: bold;
}

